<h1>this is secret page</h1>
<p>u found me</p>

<img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1966.png&w=350&h=254" >
<li><a href="/register">Sign up</a></li>
<li><a href="/login">Log in</a></li>
<li><a href="/logout">Log out</a></li>