<% include partials/header %>

<h1>u fell in love with <%= thingVar %></h1>

<% if(thingVar==="rusty"){ %>
<p> GOod choice</p>
<% } else { %>
<p>
  bad choice
</p>
<% } %>

<p>
  this is the file
</p>

<% include partials/footer %>
